:root {/*шаблоны цветов-*/
    --current-color: rgb(255,102,46);
    --default-color: rgb(62,62,62);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height:100vh;
    -webkit-user-drag: none;
    user-select: none;
    background: black;
}/*-*/

 .field-container {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
 }/*-*/

 .field {
width: 60vw;
height: 30vw;
display: grid;
grid-template-columns: repeat(30,1fr);
grid-template-rows: repeat(15,1fr);
gap:1px;
 }/*-*/


 .cell {
 background: var(--default-color);
 }/*-*/

 .cell:hover{
    background: var(--current-color);
    opacity: .5;
 }/*-*/

 .color-palette {
    display: grid;
    min-height: 30vw;
    width: 2vw;
    display: flex;
    flex-direction: column;
    gap:10px;
 } /*-*/

 .color-cell,
 .tool-cell{
    background: var(--default-color);
    aspect-ratio: 1/1;
    width: 100%;
    transition: all .2s linear;
    cursor: pointer;
 }/*-*/

 .color-cell:hover {
    transform: scale(1.1);
    transition: all .2s linear;
 }/*-*/

 .color-cell.red{
    background: rgb(255,102,46);
 } /*добавление определённого цвета-*/

 .color-cell.green{
    background: rgb(26,218,84);
 }/*добавление определённого цвета-*/

 .color-cell.blue{
    background: rgb(83,15,255);
 }/*добавление определённого цвета-*/

.color-cell.yellow{
    background: rgb(255,236,26);
 }/*добавление определённого цвета-*/

 .color-cell.skyblue{
    background: rgb(142,229,255);
 }/*добавление определённого цвета-*/

.color-cell.pink{
    background: rgb(218, 83, 207);
 }/*добавление определённого цвета-*/
 .color-cell.white{
    background: rgb(246, 243, 246);
 }/*добавление определённого цвета-*/
 .color-cell.orange{
    background: rgb(205, 114, 10);
 }/*добавление определённого цвета-*/
 .color-cell.violet{
    background: rgb(117, 6, 145);
 }/*добавление определённого цвета-*/

.tool-cell{
   background-color: transparent;
   border: 1px solid white;
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content: center;
}/*-*/

.tool-cell img{
   width: 80%;
}/*-*/

.fill-tool {
   background: transparent;
   display: flex;
   align-items: center;
   justify-content: center;
}/*-*/

.fill-tool img {
   width: 80%;
}/*-*/

.selected {//аформление объекта выделения-//
   outline: 2px solid white;
   border: 2px solid black;
   box-sizing: border-box;
}/*-*/

.selected:hover {
   transform: scale(1);
}/*-*/

.range-group {
   display:flex;
   justify-content: center;
}/*-*/

.height-input,
.width-input {
   writing-mode: vertical-lr;
   direction: rtl;
}/*-*/
